<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
          
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navMenu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                    Recipie Book
                </a>
        </div>

    <div class="collapse navbar-collapse" id="navMenu">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active">
                    <a routerLink='/recipes'>Recipies</a>
                </li>
                <li routerLinkActive="active">
                        <a routerLink='/shopping-list'>Shopping List</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropDown>
                    <a class="dropdown-toggle"  role="button" > 
                        Manage 
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a >Save Data</a></li>
                        <li><a>Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>    
   </div> 
</nav>