
      <a routerLink="/recipes/{{recipe.recipieId}}"
        style="cursor:pointer;"
        routerLinkActive="active"
        class="list-group-item clearfix">
        <div>
          <h4 class="list-group-item-heading">{{recipe.name}}</h4>
          <p class="list-group-item-text">{{recipe.description}}</p>
        </div>
      </a>
    
  




