<div class="row">
    <div class="col-xs-12">
      <form class="form-group">
        <div class="row">
          <div class="col-xs-12">
              <button type="submit" class="btn btn-success"> Save</button>
              <button type="button" class="btn btn-danger">Cancel</button>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <label for="name">Name</label>
            <input id="name" type="text" class="form-control">
          </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
              <label for="imgUrl">Image URL</label>
              <input id="imgUrl" type="text" class="form-control">
            </div>
          </div>

          <div class="row">
              <div class="col-xs-12">
                <label for="desc">Description</label>
                <textarea id="desc" type="text-area" 
                          class="form-control" rows="6">
                </textarea>
              </div>
            </div>


    </form>
    </div>
 </div>
