
  <div class="row">
      <div class="col-sm-12">
          <app-shopping-edit></app-shopping-edit>
      </div>
    </div>  
      
 
<hr/>

    <div class="row">
    <div class="col-sm-12">
      <ul class="list-group">
         <a *ngFor="let ingredient of ingredients"  
              class="list-group-item" 
              style=" cursor:pointer "
              (click)="onSelectShoppingListItem(ingredient)">
          {{ingredient.name}} ({{ingredient.amount}})
        </a>
      </ul>
    </div> 
  </div>
    
  


