<!--The content below is only a placeholder and can be replaced.-->

<app-header (userSelectEvent)="setUserSelection($event)"></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div> 
  </div>
