

<div class="row">
  <div class="col-md-12">
    <button type="button" 
            class="btn btn btn-primary"
            [routerLink]="['new']">
       New recipe
      </button>
  </div>
  <hr>

  <div class="col-md-12">          
             <app-recipie-item 
                [recipe]=recipe 
                *ngFor = "let recipe of recipies" 
                class="list-group">
              </app-recipie-item>
          
        
  </div>

</div>

