<div class="container-fluid" *ngIf="recipe;else recipeNotSelected">
    
  <div class="row" >
        <div class="col-md-12">
      <img alt="image" 
             src={{recipe.imagePath}}
            class="img-responsive"/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>{{recipe.name}}</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="dropdown" appDropDown>
      <button class="btn btn-primary dropdown-toggle" 
              type="button"
              >
        Manage<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Shopping List</a></li>
        <li><a [routerLink]="['edit']">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item" 
           *ngFor="let ingredient of recipe.ingredients">
            {{ingredient.name}} ({{ingredient.amount}})
        </li>
      </ul>
    </div>
  </div>
</div> 

<ng-template #recipeNotSelected>
    <h4>Please select a recipe</h4>
</ng-template>
