<form #shopEditForm="ngForm" (ngSubmit)="addOrUpdateIngredients(shopEditForm)">
        <div class="row"> 
            <div class="col-xs-2">
              <label for="name">Name</label>
              <input id="name" class="form-control" type="text" 
                     name="name" #name="ngModel" ngModel>
            </div>
            <div class="col-xs-2">
              <label for="amt">Amount</label>
              <input id="amt" class="form-control" type="number" 
                      name="amt" #amt="ngModel" ngModel>
          </div>
        </div>

      
      <div class="row">
        <div class="col-xs-1">
          <button class="btn  btn-success" 
                  type="submit">{{ editMode ? 'Update':'Add'}}</button>
        </div>

                <div class="col-xs-1">

            <button class="btn btn-danger" type="button"
                      (click)="onDelete(shopEditForm)"
                      *ngIf="editMode">Delete</button>
          </div>
          <div class="col-xs-1">
            <button class="btn btn-info" type="button"
                (click)="onClear(shopEditForm)">Clear</button>
          </div>
        
      </div>
    </form>
  
  
   

      
     
  
  